
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";


/*------------
---HOME PAGE--
-------------*/
.home_link{
  padding-right: 15px;
}

.delete-link{
  color: #980000;
}


/*------------
--FRONT PAGE--
-------------*/

@import "front_page";


/*----------------
-----BG VIDEO-----
----------------*/

.fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
}

.fullscreen-bg__video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.youtube-foreground,
.fullscreen-bg iframe{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

@media (min-aspect-ratio: 16/9) {
  .youtube-foreground { height: 300%; top: -100%; }
}
@media (max-aspect-ratio: 16/9) {
  .youtube-foreground { width: 300%; left: -100%; }
}


/*----------------
-----SHOW PAGE-----
----------------*/

@import "show_page";


/*----------------
-----TRIP PAGE----
----------------*/

@import "trip";


// Mobile SCSS
@import "mobile";
